* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #0C0C14; /* Cor de fundo */
}

body {
  font-family: Consolas; /* Fonte para os textos principais (h1 e etc) */
  color: #07D100; /* Verde dos textos principais */
}

main {
  margin: auto;
  max-width: 850px;
}

pre,
input,
button {
  font-family: Consolas; /* Fonte para o output (pre) */
  font-size: 12px; /*Tamanho da fonte do output*/
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  color: #E6E6E6; /* Cor dos textos de input e botões*/
  background-color: #44445c; /* Cor de fundo do output e botão de executar */
}

input {
  width: 100%;
  font-family: Consolas; /* Fonte para o input*/
  background-color: #44445E; /* Cor do input */
  border: 2px solid transparent;
}

input:focus {
  outline: none;
  background: solid;
  border: 2px solid #07D100; /* Outline verde em volta do intput */
}

button {
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
.copy {
  margin-left: 0px;
}

button:hover {
  background-color: #07D100; /* Botão fica verde ao passar com o mouse por cima*/
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}
